<!DOCTYPE html>
<html lang="en">
<head>
    <title>ACTIVATION</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <style>-->
<!--    </style>-->



    <!--    <style>-->
    <!--body {font-family: "Lato", sans-serif}-->
    <!--.mySlides {display: none}-->
    <!--  body {-->
    <!--        display: flex;-->
    <!--        justify-content: center;-->
    <!--        align-items: center;-->
    <!--        height: 100vh;-->
    <!--        background-color: #f2f2f2;-->
    <!--      }-->

    <!--      .card {-->
    <!--        max-width: 400px;-->
    <!--        margin-top: 46px;-->
    <!--        text-align: center;-->
    <!--        font-size: 24px;-->
    <!--        background-color: light grey;-->
    <!--        padding: 20px;-->
    <!--      }-->

    <!--      .green-text {-->
    <!--        color: green;-->
    <!--      }-->
    <!--      .btn-dark {-->
    <!--  background-color: green;-->
    <!--  color: white;-->
    <!--  font-weight: bold;-->
    <!--}-->
    <!--    </style>-->
    <!--</head>-->

    <!--&lt;!&ndash; Page content &ndash;&gt;-->
    <!--<div class="w3-content" style="max-width:2000px;margin-top:46px">-->
    <!--    <body>-->

    <!--    &lt;!&ndash; include the navigation bar &ndash;&gt;-->
    <!--    <div th:replace="fragments/navbar.html"></div>-->

    <!--    <br>-->
    <!--    <br>-->
    <!--    <div class="card text-center col-lg-6 col-md-6 col-sm-6 container justify-content-center card" style="align center">-->
    <!--        <div class="card-header">-->
    <!--            <strong>Activation</strong>-->
    <!--        </div>-->
    <!--        <div class="card-body">-->
    <!--            <p class="card-text">Press the button below to activate your account.</p>-->
    <!--            <form th:action="@{'/activation/'+${randomToken}}" th:object="${user}" method="POST">-->
    <!--                <div class="box-footer text-center">-->
    <!--                    <button type="submit" class="btn btn-dark">Activate</button>-->
    <!--                </div>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--        <div class="card-footer text-muted">Thank you!</div>-->
    <!--    </div>-->
    <!--    </body>-->
    <!--</div>-->
    <!--</body>-->
    <!--</html>-->


<!--    &lt;!&ndash; include the navigation bar &ndash;&gt;-->
<!--    <div th:replace="fragments/navbar.html" style="z-index: 3;"></div>-->
<!--<body>-->
<!--&lt;!&ndash;Background&ndash;&gt;-->
<!--<div>-->
<!--    <img th:src="@{images/image1.jpg}" alt="register2" style="background-repeat: no-repeat; background-position: center; background-size: cover; filter: blur(8px);-->
<!--  -webkit-filter: blur(8px); width: 100%; height: 100%;">-->
<!--</div>-->

<!--&lt;!&ndash; Content &ndash;&gt;-->
<!--<div style=" background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.4); color: white; font-weight: bold; border: 3px solid #f1f1f1; position: absolute;-->
<!--  top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; width: 80%; padding: 20px; text-align: center;   border-radius: 5px;  padding: 10px 20px;-->
<!--  text-decoration: none; display: inline-block;">-->
<!--    <p class="w3-opacity" style="color: white; font-size: 1.5em; text-shadow: 1px 1px black;top: 50%; left: 50%;">-->
<!--        Press the button below to activate your account</p>-->
<!--    <p>-->
<!--    <div class="card-body">-->
<!--        <p class="card-text"> </p>-->
<!--        <form th:action="@{'/activation/'+${randomToken}}" th:object="${user}" method="POST">-->
<!--            <div class="box-footer text-center">-->
<!--                <button type="submit" class="btn btn-dark" style="  background-color: #04AA6D; color: white; padding: 16px 20px; border: none; cursor: pointer; width: 100%; opacity: 0.9;">Activate</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!-- include the navigation bar -->
<div th:replace="fragments/navbar.html" style="z-index: 3;"></div>
<body>
<!--Background-->
<div>
    <img th:src="@{images/register2.jpg}" alt="register2" style="background-repeat: no-repeat; background-position: center; background-size: cover; filter: blur(8px);
  -webkit-filter: blur(8px); width: 100%; height: 100%;">
</div>

<!-- Content -->
<div style=" background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.4); color: white; font-weight: bold; border: 3px solid #f1f1f1; position: absolute;
  top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; width: 80%; padding: 20px; text-align: center;   border-radius: 5px;  padding: 10px 20px;
  text-decoration: none; display: inline-block;">
    <div>
        <p  style="color: white; font-size: 1.5em; text-shadow: 1px 1px black;top: 50%; left: 50%;">
            Press the button below to activate your account</p>
        <p>
        <div class="card-body">
            <p class="card-text"> </p>
            <form th:action="@{'/activation/'+${randomToken}}" th:object="${user}" method="POST">
                <div class="box-footer text-center">
                    <button type="submit" class="btn btn-dark" style="  background-color: #04AA6D; color: white; padding: 16px 20px; border: none; cursor: pointer; width: 100%; opacity: 0.9;">Activate</button>
                </div>
            </form>
    </div>
</div>
</div>
</body>
</html>